/* palette 1
#7400b8
#6930c3
#5e60ce
#5390d9
#4ea8de
#48bfe3
#56cfe1
#64dfdf
#72efdd
#80ffdb */

:root {
    --text-color: black;
}


html {
    height: 100%;
}

body {
    background-color: #48bfe3;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    border: solid black 3px;
   height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    border: solid black 3px;
    margin: 2%;
    height: 10%;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    margin: 0%;
    margin-left: 5%;
}


nav {
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
    height: 90%;
    width: 55%;
    margin-left: 30%;
    margin-top: 0.1%;
    /* border: solid black 3px; */
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2.5%;
    margin-left:  -18%;
}

nav ul a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

.about-me {
    display: flex;
    justify-content: center;
    border: solid black 3px;
   
    height: 30%;
    margin: 2%;
}

.about-flex {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    flex: 1;
    width: 94%;
}

.about-me h2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: var(--text-color);
    font-size: 30px;
    height: 100%;
    margin: 0%;
    margin-top: 1%;
    margin-left: 5%;
}


#my-face  {
   /* width: 80%; */
}

#my-face img{

    height: 95%;
    border-radius: 100%;
}

@media screen and (max-width: 768px) {
    #my-face img{
        height: 136px;
        margin-left: -22%;
      
    }
}
    

.work-section {
    border: solid black 3px;
    height: 50%;
    margin: 2%;
}

.work-section h2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: var(--text-color);
    font-size: 30px;
    height: 100%;
    margin: 0%;
    margin-top: 1%;
    margin-left: 5%;
}

footer {
    border: solid black 3px;
    margin: 2%;
    height: 10%;
}

footer h2 {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 25px;
    height: 100%;
    margin: 0%;
    margin-top: .75%;
    margin-left: 5%;
}





