/* palette 1
#7400b8
#6930c3
#5e60ce
#5390d9
#4ea8de
#48bfe3
#56cfe1
#64dfdf
#72efdd
#80ffdb */

:root {
    --text-color: black;
    --text-color2: #56cfe1;
}


html {
    height: 150%;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #5390d9;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    border: solid black 3px;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    border: solid black 3px;
    margin: 2%;
    height: 10%;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text-color);
    margin: 1%;
    font-size: 30px;
    margin-left: 5%;
}

h1 span {
    margin: 2px;
}

@media screen and (max-width: 768px) {

    h1 {
        flex-direction: column;
    }

}


.header-nav {
    display: flex;
    flex-direction: column;
    /* border: solid black 3px; */
    justify-content: center;
    height: 90%;
    width: 55%;
    margin-left: 30%;
    margin-top: 0.1%;
    /* border: solid black 3px; */
}

.header-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2.5%;
    margin-left: -18%;
}

@media screen and (max-width: 768px) {

    .header-nav ul {
        margin-top: 15%;
    }

}

nav ul a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

/* h2 {
    background-color: #48bfe3;
} */

.about-me {
    display: flex;
    justify-content: center;
    border: solid black 3px;

    height: 30%;
    margin: 2%;
}

.about-flex {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    flex: 1;
    margin: 2%;
    max-width: 100%;
}

.about-me h2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: var(--text-color);
    font-size: 30px;
    height: 100%;
    margin: 0%;
    margin-top: 1%;
    margin-left: 5%;
}

.image-p-flex {
    display: flex;
    flex: 1;
    width: 86%
}





#my-face {
    width: 40%;
}

#my-face img {

    height: 95%;
    border-radius: 100%;
}

#p-text {
    font-size: 2em;
    font-weight: 900;
    max-width: 80%;


}


@media screen and (max-width: 1180px) {
    .image-p-flex {
        justify-content: space-evenly;
        /* font-size: 2px; */


    }

    #my-face img {
        height: 69%;
        margin-left: -22%;

    }

    #p-text {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.7rem;
        /* width: 120%; */
        margin-right: 10px;
        margin-left: -77px;
        /* margin-inline-end: 0px; */
    }
}

@media screen and (max-width: 768px) {
    .image-p-flex {
        flex-direction: column;
        margin-right: 50px;

    }

    #my-face img {
        height: 13em;
        margin-left: -22%;

    }

    #p-text {
        display: flex;

        /* flex-direction: column; */
        /* justify-content: space-around; */
        width: 100%;
        margin-left: 0px;
        margin-top: -7%;
        font-size: 1rem;

    }


}

.work-section {
    display: flex;
    border: solid black 3px;
    height: 40%;
    margin: 2%;
}

#work-title {
    font-size: 3em;
}

.work-section h2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0%;
    margin-top: 1%;
    margin-left: 5%;
}

.apps-section {
    display: flex;
    flex-direction: column;
    /* border: solid black 3px; */
    margin-top: .5rem;
    margin-left: 1rem;
    width: 86%;
    height: 97%;
}


#app1 {
    border: solid black 1px;
    margin-left: 4%;
    width: 92.5%;
    height: 40%;
    overflow: hidden;
}

.app-row-2 {
    display: flex;
    /* border: solid black 3px; */
    height: 30%;
}


#app2,
#app3 {
    border: solid black 1px;
    margin-left: 4%;
    margin-top: .2%;
    width: 50%;
    height: 97%;
    overflow: hidden;
}

#app4,
#app5 {
    border: solid black 1px;
    margin-left: 4%;
    margin-top: .2%;
    width: 42.75%;
    height: 97%;
    overflow: hidden;
}

#app1 a,
#app2 a,
#app3 a,
#app4 a,
#app5 a {
    text-decoration: none;

}

#app1 img {
    max-width: 100%;
    margin-top: -2em;
}

#app2 img {
    max-width: 100em;
    /* margin-top: -2em; */
}

#app3 img {
    max-width: 50em;
    margin-top: -2em;
}

#app4 img {
    max-width: 50em;
    margin-top: -6em;
}

#app5 img {
    max-width: 50em;
    margin-top: -2em;
}

#app1 img:hover,
#app2 img:hover,
#app3 img:hover,
#app4 img:hover,
#app5 img:hover {
    opacity: 50%;
}

#app1-text-flex,
#app2-text-flex,
#app3-text-flex,
#app4-text-flex,
#app5-text-flex {
    position: absolute;
    background-color: var(--text-color2);
    top: 75%;
    color: var(--text-color);
    font-size: 20px;
    margin-left: 3%;
}


#app1-text-flex {
    top: 78%;
    height: 16%;
}

#app2-text-flex,
#app3-text-flex {
    top: 100%;
    width: 9em;

}

#app2-text-flex {
    height: 4.5em;
}

#app4-text-flex {
    top: 117%;
    width: 9em;
    height: 13%;
    font-size: 15px;

}

#app5-text-flex {
    top: 117%;
    height: 13%;
    font-size: 1.4em;
}



#app1-text-flex h3 {
    margin-inline-start: .25em;
    margin-block-start: -2em;
    font-size: 1em;

}

#app2-text-flex h3 {
    margin-inline-start: 4%;
    margin-block-start: -2em
}

#app3-text-flex h3 {
    font-size: .8em;
    margin-inline-start: .5em;
}

#app4-text-flex h3 {
    font-size: 1.3em;
    margin-block-start: -2em;
    margin-inline-start: .4em;


}

#app5-text-flex h3 {
    font-size: 1em;
    margin-block-start: -2em;
    margin-inline-start: .4em;


}


.app-row-3 {
    display: flex;
    /* border: solid black 3px; */
    height: 30%;
}

@media screen and (max-width: 768px) {
    .apps-section {
        width: 67%;
    }

    #app1 {
        margin-left: 4%;
        height: 20%;
    }

    .app-row-2 {
        height: 37%;
    }

    .app-row-3 {
        height: 37%;

    }

    #app2,
    #app3,
    #app4,
    #app5 {
        margin: .5em;
    }

    #app2,
    #app3 {

        margin-block-start: .1em;
    }

    #app4,
    #app5 {
        width: 50%;
        margin-block-start: .1em;
    }

    #app3 img {
        width: 30em;
        margin-left: -60%;

    }

    #app4 img {
        width: 30em;
        margin-top: 0%;
        margin-left: -120%;

    }

    #app5 img {
        width: 60em;
        margin-top: 0%;
        margin-left: -120%;

    }

    #app1-text-flex,
    #app2-text-flex,
    #app3-text-flex,
    #app4-text-flex,
    #app5-text-flex {
        color: var(--text-color);
        font-size: 10px;
        margin-left: 3%;
    }

    #app1-text-flex {
        top: 71%;
        height: 8%;

    }

    #app2-text-flex,
    #app3-text-flex {
        top: 86%;

    }

    #app4-text-flex,
    #app5-text-flex {
        height: 6em;
        top: 107%;
        font-size: 1em;
        width: 20%;

    }

    #app4-text-flex h3 {
        margin-block-start: -3em;
        margin-inline-start: .5em;
        font-size: .75em;
    }


}

footer {
    border: solid black 3px;
    margin: 2%;
    height: 10%;
    margin-bottom: 10px;
}

footer h2 {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 25px;
    height: 100%;
    margin: 0%;
    margin-top: .75%;
    margin-left: 5%;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    /* border: solid black 3px; */
    /* justify-content: center; */
    height: 90%;
    width: 55%;
    margin-left: 45%;
    margin-top: 0%;
    margin-block-start: -6.3em;
    /* border: solid black 3px; */
}

.footer-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2.5%;
    margin-left: -18%;
}

@media screen and (max-width: 768px) {

    .footer-nav ul {
        margin-top: -15%;
    }

}